<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示</title>
</head>
<body>
<img src="/static/erosion.jpg" alt="">
<div>
        <div class="container">
                <div style="...">
                        <a class="btn btn-success" href="/deal/">
                                <span class=""glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                返回
                        </a>
                </div>
        </div>
</div>
</body>
</html>