<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>噪声处理</title>
</head>
<body>

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="mtd" placeholder="请在此输入处理方式"><br/>
            <input type="submit" value="提交"><br/>
        </form>
    </div>
{% endblock %}

<div>
        <div class="container">

                <div class=""panel panel-default">
                    <div class="panel-heading">
                            <span class=""glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            可选处理方式有："添加噪声"，"消除噪声"
                    </div>
                </div>
        </div>
</div>
</body>
</html>